@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    background-color: rgb(0, 98, 255);
    font-family: "Caveat";
}


.profile-picture{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.profile-name{
    text-align: center;
    padding: 30px;
    font-size: 28;
    color: aliceblue;
}

.Links{
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgb(5, 194, 96);
    border-width: 2px;
    width: 290px;
    display: block;
    background-color: aliceblue;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: "Caveat";
    padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(201, 49, 49);
    transition: color 1s;
}

a:hover{
    color: aqua;
    background-color: black;
}